@media (max-width: 500px) {
	#etiquetas{
		width: 100%;
	}
	.col-5{
		width: 100%;
	}
}
@media  (max-width: 800px) {
	.col-2{
		width: 33.333%;
	}
	#deberes{
		width: 100%;
	}
	#descripcion{
		width: 66.66%;
	}
}